@media (max-width: 768px) {
  .HolyGrail-body {
    flex-direction: column;
    flex: 1;
  }
  .HolyGrail-nav,
  .HolyGrail-ads,
  .HolyGrail-content {
    flex: auto;
  }
}
.HolyGrail {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}
header,
footer {
  flex: 1; /* 所有项目等分空间 */
}
.HolyGrail-body {
  display: flex;
  flex: 1;
}
.HolyGrail-content {
  flex: 1;
}
.HolyGrail-nav,
.HolyGrail-ads {
  flex: 0 0 12em;
}
.HolyGrail-nav {
  order: -1;
}
